## Exercise 1
- Write a loop that adds one to every number in the list of numbers

In [1]:
numbers = [5, 6, 7, 8, 9, 10]

In [2]:
# Isolate only the first item of the list
number = numbers[0]

# Determine the procedure to do for only that first item
number = number + 1
number

6

Cognitive steps
1. Ignore loop (simplifies the problem)
2. Figure out the sequence of steps or procedure we need to do for only the first item of the list
3. Take the sequence of steps we proved works and put _that_ in the loop

In [3]:
# name your lists plural
# for singular in plural
output = []
for number in numbers:
    result = number + 1
    output.append(result)

In [4]:
output

[6, 7, 8, 9, 10, 11]

In [5]:
shopping_cart = {
    "tax": .08,
    "items": [
        {
            "title": "orange juice",
            "price": 3.99,
            "quantity": 1
        },
        {
            "title": "rice",
            "price": 1.99,
            "quantity": 3
        },
        {
            "title": "beans",
            "price": 0.99,
            "quantity": 3
        },
        {
            "title": "chili sauce",
            "price": 2.99,
            "quantity": 1
        },
        {
            "title": "chocolate",
            "price": 0.75,
            "quantity": 9
        }
    ]
}

In [6]:
# Ignore the loop
# Isolate the single, first item from the list
items = shopping_cart["items"]
items

[{'title': 'orange juice', 'price': 3.99, 'quantity': 1},
 {'title': 'rice', 'price': 1.99, 'quantity': 3},
 {'title': 'beans', 'price': 0.99, 'quantity': 3},
 {'title': 'chili sauce', 'price': 2.99, 'quantity': 1},
 {'title': 'chocolate', 'price': 0.75, 'quantity': 9}]

In [7]:
# Isolate the single, first item from the list
item = items[0]
item

{'title': 'orange juice', 'price': 3.99, 'quantity': 1}

In [8]:
count = 0

# new_value = old_value + item["quantity"]
count = count + item["quantity"]

count

1

In [9]:
# If we're not totally confident adding the loop back yet... we move to the second item on the list
item = items[1]

# new_value = old_value + item["quantity"]
count = count + item["quantity"]

count

4

In [10]:
count = 0

for item in items:
    count = count + item["quantity"]

count

17